<a href="https://colab.research.google.com/github/zlximon/Tensorflow_DL/blob/master/HousePrice_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install -q seaborn

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [97]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

In [113]:
raw=pd.read_csv('/content/housePrice.csv')

class_names=list(raw.columns)
class_names

['Area',
 'Room',
 'Parking',
 'Warehouse',
 'Elevator',
 'Address',
 'Price',
 'Price(USD)']

In [78]:
raw.isna().sum()# have 23 nan values

Area           0
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [141]:
dataset = raw.dropna()# remove nan values
dataset

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

(3456, 3479)

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address      23
Price         0
dtype: int64

In [86]:
dataset.isna().sum()

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address       0
Price         0
Price(USD)    0
dtype: int64

In [88]:
data_ont_hot=pd.get_dummies(dataset)
data_ont_hot

,Room,Parking,Warehouse,Elevator,Price,Price(USD),"Area_ 1,000","Area_ 16,160,000,000","Area_ 2,550,000,000","Area_ 3,310,000,000",...,Address_Waterfall,Address_West Ferdows Boulevard,Address_West Pars,Address_Yaftabad,Address_Yakhchiabad,Address_Yousef Abad,Address_Zafar,Address_Zaferanieh,Address_Zargandeh,Address_Zibadasht
0,1,True,True,True,1.850000e+09,61666.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,True,True,True,1.850000e+09,61666.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,True,True,True,5.500000e+08,18333.33,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,True,True,True,9.025000e+08,30083.33,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,True,True,True,7.000000e+09,233333.33,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3474,2,True,True,True,3.500000e+09,116666.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3475,2,True,True,True,6.800000e+09,226666.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3476,2,False,False,False,3.650000e+08,12166.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3477,2,True,True,True,5.600000e+09,186666.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3478,2,False,True,True,3.600000e+08,12000.00,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:

#remove the USD price 
y=dataset["Price(USD)"]
x=data_ont_hot.drop(columns=["Price(USD)"])

In [90]:
len(x),len(y)

(3456, 3456)

In [66]:
y

0        61666.67
1        61666.67
2        18333.33
3        30083.33
4       233333.33
          ...
3474    116666.67
3475    226666.67
3476     12166.67
3477    186666.67
3478     12000.00
Name: Price(USD), Length: 3456, dtype: float64

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
len(x), len(X_train), len(X_test)

(3456, 2764, 692)

In [105]:
normalizer = tf.keras.layers.Normalization(axis=-1)

In [158]:
X_train

     Area  Room  Parking  Warehouse  Elevator                  Address
3215   97     2     True       True      True               Gheitarieh
2970   59     1     True       True      True            Qasr-od-Dasht
2687   60     1    False       True     False                 Golestan
582   110     2     True       True      True        Central Janatabad
1893   57     1     True       True      True               Azarbaijan
...   ...   ...      ...        ...       ...                      ...
1098  105     2     True       True      True             Shahr-e-Ziba
1135   81     2     True       True      True  Qazvin Imamzadeh Hassan
1299   84     3     True       True      True                 Andisheh
863   155     3     True       True      True           Shahrake Gharb
3190  119     2     True       True      True   West Ferdows Boulevard

[2764 rows x 6 columns]

In [103]:
X_train.shape

(2764, 440)

In [112]:
normalizer.adapt(np.array(X_train))

AttributeError: ignored

In [157]:
dataset["Price"]

0       1.850000e+09
1       1.850000e+09
2       5.500000e+08
3       9.025000e+08
4       7.000000e+09
            ...
3474    3.500000e+09
3475    6.800000e+09
3476    3.650000e+08
3477    5.600000e+09
3478    3.600000e+08
Name: Price, Length: 3456, dtype: float64

In [164]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder 
from sklearn.model_selection import train_test_split
#dataset=dataset.drop("Price(USD)",axis=1)
# Create a column transformer
ct = make_column_transformer(
    (MinMaxScaler(), ["Area"]), # turn all values in these columns between 0 and 1 
    (OneHotEncoder(handle_unknown="ignore"), ["Parking", "Warehouse", "Elevator","Address"])
)

# Create X & y
X = dataset.drop("Price", axis=1)
y = dataset["Price"]

# Build our train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

len(X_train), len(X_test), len(y_train), len(y_test)

(2764, 692, 2764, 692)

In [133]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2764, 6), (692, 6), (2764,), (692,))

In [147]:
X_train

     Area  Room  Parking  Warehouse  Elevator                  Address
3215   97     2     True       True      True               Gheitarieh
2970   59     1     True       True      True            Qasr-od-Dasht
2687   60     1    False       True     False                 Golestan
582   110     2     True       True      True        Central Janatabad
1893   57     1     True       True      True               Azarbaijan
...   ...   ...      ...        ...       ...                      ...
1098  105     2     True       True      True             Shahr-e-Ziba
1135   81     2     True       True      True  Qazvin Imamzadeh Hassan
1299   84     3     True       True      True                 Andisheh
863   155     3     True       True      True           Shahrake Gharb
3190  119     2     True       True      True   West Ferdows Boulevard

[2764 rows x 6 columns]

In [152]:
#float("8,400,000,000")
#np.float64("8,400,000,000")

ValueError: ignored

In [162]:
# Fit the column transformer to our training data
#print(X_train)
ct.fit(X_train)

# Transform training and test data with normalization (MinMaxScaler) and OneHotEncoder
X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)

ValueError: ignored

In [165]:
dataset

,Area,Room,Parking,Warehouse,Elevator,Address,Price
0,63,1,True,True,True,Shahran,1.850000e+09
1,60,1,True,True,True,Shahran,1.850000e+09
2,79,2,True,True,True,Pardis,5.500000e+08
3,95,2,True,True,True,Shahrake Qods,9.025000e+08
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09
...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09
3475,83,2,True,True,True,Niavaran,6.800000e+09
3476,75,2,False,False,False,Parand,3.650000e+08
3477,105,2,True,True,True,Dorous,5.600000e+09
3478,82,2,False,True,True,Parand,3.600000e+08

In [171]:
dataset_one_hot = pd.get_dummies(dataset, columns = ['Parking',"Elevator","Warehouse","Address"])
dataset_one_hot.head() # view the converted columns

,Area,Room,Price,Parking_False,Parking_True,Elevator_False,Elevator_True,Warehouse_False,Warehouse_True,Address_Abazar,...,Address_Waterfall,Address_West Ferdows Boulevard,Address_West Pars,Address_Yaftabad,Address_Yakhchiabad,Address_Yousef Abad,Address_Zafar,Address_Zaferanieh,Address_Zargandeh,Address_Zibadasht
0,63,1,1.850000e+09,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,60,1,1.850000e+09,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,79,2,5.500000e+08,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,95,2,9.025000e+08,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,123,2,7.000000e+09,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
dataset_one_hot["Price"]=dataset_one_hot["Price"]/max(dataset_one_hot["Price"])

In [173]:
dataset_one_hot

,Area,Room,Price,Parking_False,Parking_True,Elevator_False,Elevator_True,Warehouse_False,Warehouse_True,Address_Abazar,...,Address_Waterfall,Address_West Ferdows Boulevard,Address_West Pars,Address_Yaftabad,Address_Yakhchiabad,Address_Yousef Abad,Address_Zafar,Address_Zaferanieh,Address_Zargandeh,Address_Zibadasht
0,63,1,0.020022,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,60,1,0.020022,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,79,2,0.005952,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,95,2,0.009767,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,123,2,0.075758,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3474,86,2,0.037879,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3475,83,2,0.073593,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3476,75,2,0.003950,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3477,105,2,0.060606,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3478,82,2,0.003896,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [175]:
X = dataset_one_hot.drop("Price", axis=1)
y = dataset_one_hot["Price"]

In [189]:
X.head()

,Area,Room,Parking_False,Parking_True,Elevator_False,Elevator_True,Warehouse_False,Warehouse_True,Address_Abazar,Address_Abbasabad,...,Address_Waterfall,Address_West Ferdows Boulevard,Address_West Pars,Address_Yaftabad,Address_Yakhchiabad,Address_Yousef Abad,Address_Zafar,Address_Zaferanieh,Address_Zargandeh,Address_Zibadasht
0,63,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,79,2,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,95,2,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,123,2,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=42) # set random state for reproducible splits

In [187]:
X_train.shape

(2764, 200)

In [184]:
tf.random.set_seed(42)

# Create a new model (same as model_2)
insurance_model = tf.keras.Sequential([
  tf.keras.layers.Dense(1),
  tf.keras.layers.Dense(1)
])

# Compile the model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.keras.optimizers.SGD(),
                        metrics=['mae'])

# Fit the model
insurance_model.fit(X_train, y_train, epochs=100)

ValueError: ignored